config.json
get_data.html
form_data.json

migrations/
get_data_files/
.idea/
__pycache__/
.vscode/

# sqlite database file
.sqlite3
.sqlite

# text files
input.txt

# unnecessary json files
form-data.json
scrapped-data.json

# unimportant py files
scrap_page.py