{% extends "base.html" %}


{% block title %}
  {{ super() }}
    CRUD -View Database
  {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
<!-- table code starts -->
{% block body %}
{{ super() }}
<h4 style="text-align: center;">Table Name : {{ table_name }}</h4>


<!-- Dark Theme -->
<table id="db-view" data-table-theme="dark zebra">
  <thead>
    <tr>
      {% for head in columns %}
        <th>{{ head }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in table_data %}
    {% set outer_loop = loop %}
    <tr onclick="fncEditCell(this)" >
        {% for  head in columns %}
        <!-- <td class="row_data">{{ item[head] }}</td> -->
        <td>
          {% if head == 'id' %}
          <div col_name="{{head}}">{{item[head]}}</div>
          {% else %}
          <div class="row_data" edit_type="click" col_name="{{head}}">{{item[head]}}</div>
          {% endif %}
        </td>
        {% endfor %}
        <td>
          <span class="btn_edit" > <a href="#" class="btn btn-link " row_id="{{outer_loop.index-1}}" > Edit</a></span>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="btn_save input-group-text" > <a href="#" class="btn btn-link"  row_id="{{outer_loop.index-1}}"> Save</a>|</span>
              <span class="btn_cancel input-group-text" > <a href="#" class="btn btn-link" row_id="{{outer_loop.index-1}}"> Cancel</a></span>
            </div>
          </div>
          
        </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      {% for head in columns %}
        <th>{{ head }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>
<!-- Handle save and cancel buttons display -->
<script>
  $(document).find('.btn_save').hide();
  $(document).find('.btn_cancel').hide();
  $(document).find('.input-group mb-3').hide();
</script>


<script>
  //--->make div editable > start
  $(document).on('click', '.row_data', function(event) 
  {
    event.preventDefault(); 

    if($(this).attr('edit_type') == 'button')
    {
      return false; 
    }

    //make div editable
    $(this).closest('div').attr('contenteditable', 'true');
    //add bg css
    $(this).addClass('bg-info').css('padding','5px');

    $(this).focus();
  })	
//--->make div editable > end
</script>


<script>
  $(document).on('click', '.btn_edit', function(event) 
{
	event.preventDefault();
	var tbl_row = $(this).closest('tr');

	var row_id = tbl_row.attr('row_id');

	tbl_row.find('.btn_save').show();
	tbl_row.find('.btn_cancel').show();
  $(document).find('.input-group mb-3').show();

	//hide edit button
	tbl_row.find('.btn_edit').hide(); 

	//make the whole row editable
	tbl_row.find('.row_data')
	.attr('contenteditable', 'true')
	.attr('edit_type', 'button')
	.addClass('bg-info')
	.css('padding','3px')

	//--->add the original entry > start
	tbl_row.find('.row_data').each(function(index, val) 
	{  
		//this will help in case user decided to click on cancel button
		$(this).attr('original_entry', $(this).html());
	}); 		
	//--->add the original entry > end

});
//--->button > edit > end
</script>
<!-- Cancel entry -->
<script>
   //--->button > cancel > start	
$(document).on('click', '.btn_cancel', function(event) 
{
	event.preventDefault();

	var tbl_row = $(this).closest('tr');

	var row_id = tbl_row.attr('row_id');

	//hide save and cacel buttons
	tbl_row.find('.btn_save').hide();
	tbl_row.find('.btn_cancel').hide();

	//show edit button
	tbl_row.find('.btn_edit').show();

	//make the whole row editable
	tbl_row.find('.row_data')
	.attr('edit_type', 'click')	 
	.removeClass('bg-info')
	.css('padding','') 

	tbl_row.find('.row_data').each(function(index, val) 
	{   
		$(this).html( $(this).attr('original_entry') ); 
	});  
});
//--->button > cancel > end
</script>
<!-- Cancel entry end -->

<script>

//--->save whole row entery > start	
$(document).on('click', '.btn_save', function(event) 
{
	event.preventDefault();
	var tbl_row = $(this).closest('tr');

	var row_id = tbl_row.attr('row_id');

	
	//hide save and cacel buttons
	tbl_row.find('.btn_save').hide();
	tbl_row.find('.btn_cancel').hide();

	//show edit button
	tbl_row.find('.btn_edit').show();


	//make the whole row editable
	tbl_row.find('.row_data')
	.attr('edit_type', 'click')	
	.removeClass('bg-info')
	.css('padding','') 

	//--->get row data > start
	var arr = {}; 
	tbl_row.find('.row_data').each(function(index, val) 
	{   
		var col_name = $(this).attr('col_name');  
		var col_val  =  $(this).html();
		arr[col_name] = col_val;
	});
	//--->get row data > end

	//use the "arr"	object for your ajax call
	$.extend(arr, {row_id:row_id});

	//out put to show
	$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
	 
});
//--->save whole row entery > end
</script>

<script>
  //--->save single field data > start
$(document).on('focusout', '.row_data', function(event) 
{
	event.preventDefault();

	if($(this).attr('edit_type') == 'button')
	{
		return false; 
	}

	var row_id = $(this).closest('tr').attr('row_id'); 
	
	var row_div = $(this)			
	.removeClass('bg-info') //add bg css
	.css('padding','')

	var col_name = row_div.attr('col_name'); 
	var col_val = row_div.html(); 

	var arr = {};
	arr[col_name] = col_val;

	//use the "arr"	object for your ajax call
	$.extend(arr, {row_id:row_id});

	//out put to show
	$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>');
	
})	
//--->save single field data > end
</script>

{% endblock %}
{% block footer %}
<script>
  window.fncEditCell = function(argThis) {
    // alert('Row number of Row Clicked: ' + argThis.rowIndex);
};
</script>
{% endblock %}